extends layout

block content
  h1 Visual Studio Code - Starter Express Application (JavaScript)
  p Welcome to #{title}

  | For more information, please visit 
  a(href='https://code.visualstudio.com/docs') https://code.visualstudio.com!
  |.