extends layout

block content
  h1 Visual Studio Code - Starter Express Application (TypeScript)
  p Welcome to #{title}

  | For more information, please see the 
  a(href='/quickstart') Quick Start
  |.